body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000 !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(121, 121, 121, 0.727);
}

::-webkit-scrollbar-thumb {
  background-color: #19719D;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.16);
}


.gradient-border {
  background-color: #F8F8F80F !important;
  color: white;
  position: relative;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(to bottom, rgb(51 51 51 / 22%), rgba(255, 255, 255, 0.1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.main-title {
  background: linear-gradient(180deg, #19719D 68.75%, #092837 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 38px;
}